/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;
    --font-medium: 500;
}

/*===== Colores =====*/
:root{
    --first-color: #3ce146;
    --white-color: #FAFAFF;
    --dark-color: #222222;
    --text-color: #000000;
}

/*===== Fuente y tipografia =====*/
:root{
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 6.25rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

@media screen and (min-width: 768px){
    :root{
        --big-font-size: 6.5em;
        --h1-font-size: 3rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}



/*===== Margenes =====*/
:root{
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

/*===== z index =====*/
:root{
    --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
    
}
h1,h2,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
::selection {
    color: #1f1f1f;
    background: var(--first-color);
  }

/*===== CLASS CSS ===== */
.section{
    padding: 3rem 0;
}
.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--text-color);
    margin: var(--mb-4) 0;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.355);
}


/*===== LAYOUT =====*/
.bd-grid{
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: purple;
    
    
}

/*===== NAV =====*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 2rem;
        background-color: purple;
        transition: .5s;
        backdrop-filter: blur(10px);
        
    }
}
.nav__item{
    margin-bottom: var(--mb-4);
}
.nav__link{
    position: relative;
    color: white;
}

/* .nav__logo{
    color: var(--text-color);
} */
.nav__toggle{
    
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
}
.nav__search{
    margin-left: 3em;
    border: 2px solid purple;
    height: 2em;
    width: 16em;
    border-radius: 5px;
    align-self: center;
    
}

.nav__search-btn{
   
    border-radius: 5px;
    background-color: var(--white-color);
    color: purple;
    border-color: purple;
    height: 2em;
    
}
@media screen and (max-width:479px) {
    .nav__search-btn{
        margin-top: var(--mb-2);
    }
}
@media screen and (max-width:767px) {
    .nav__search{
        margin-left: 0;
    }
}

/*=== Show menu ===*/
.show{
    right: 0;
}



/*===== HOME =====*/


.home__container{
   height: calc(100vh - var(--header-height));
   gap: 1.5rem;
   
   
}


.meadia__player{
    display: grid;
    position: fixed;
    bottom: 0;
    grid-template-columns: 2fr 2fr 2fr;
    height: 6.5rem;
    width: 100%;
    background-color:purple;
    align-items: center;
    border-radius: 8px;
    
    
}
.meadia__player .controls{
    display: flex;
    justify-content: center;
}

.meadia__player .controls button{
    border: none;
    margin-left: var(--mb-3);
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    border-radius: 50%;	
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    color: purple}

.player{
    display: grid;
    
}
.player .duration{
    align-self: flex-end;
    
}

.artist__name{
    color: rgb(255, 255, 255);
    justify-self: center;
}







.volume{
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
    color: #fff;

}

.volume button{
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-right: var(--mb-2);
    border-radius: 50%;
    padding: .6rem .5rem;
    background: rgb(255, 255, 255);
    color: purple;
    
    
}

.duration input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    outline: none;
    height: 4px;
    
    
    
}

input[type="range"] {
    -webkit-appearance: none;
    width: 50%;
    outline: none;
    height: 4px;
    
    
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background: rgb(255, 255, 255);
    
    border-radius: 90%;
    cursor: pointer;
}















/* ===== MEDIA QUERIES =====*/


@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 4rem;
    }
    .section-title{
        margin-bottom: 3rem;
    }

    .nav{
        height: calc(var(--header-height) + 1rem);
    }
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .nav__toggle{
        display: none;
    }
    .nav__link{
        color: var(--white-color);
        
    }
 
    .home__container{
        grid-template-rows: repeat(2,1fr);
        margin-top: 4.5%;
        
        
    }
    .slide-container{
        max-width: 1120px;
        width: 100%;
        background-color: green;
        padding:40px 0;
    }

    .slide-content{
        margin: 0 40px;
    }
    .card{
        width: 200px;
        border-radius: 25px;
        background-color: var(--white-color); 
    }
    .image-content, .card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 14px;
    }
    /* .image-content{
        row-gap: 5px;
    } */

    /* .overlay{
        position: relative;
        height: 100%;
        width: 100%;
        background-color: #3ce146;
        border-radius: 50%;
        left: 0;
        top: 0;
    } */
    .card-image{
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        padding: 3px;
    }

    .card-image .card-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .name{
        font-size: 18px;
        /* font-weight: 500; */
        color: purple;
    }
    .singer{
        font-size: 14px;
        text-align: center;
    }

    .btn{
        border: none;
        font-size: 16px;
        color: var(--white-color);
        padding: 8px 16px;
        background-color: purple;
        border-radius: 20px;
        margin: 14px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .btn:hover{
        background:rgb(187, 5, 187) ;

    }



    .malayalam{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1f1f1f;
    }


    
}

/* @media screen and (min-width : 1023){
 .home__container .bd-grid{
    max-width: auto;
    
 }
} */
    




